body {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 8;
  background: url('../img/bricks.jpg') repeat;
}

.grid_11 {
  background-color: rgba(22,22,22,0.85);
  padding: 20px;
  border-radius: 11px;
  width: 915px;
}

.grid_11 img {
  width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  text-shadow: 3px 3px 3px black;
  font-size: 1.500em;
  color: white;
}

img {
  border: 1px solid black;
}

ul.nav {
  margin: 25px 0 25px 0;
  list-style: none;
  float: left;
}

ul.nav li {
  float: left;
  margin-right: 40px;
}

ul.nav li a {
  color: black;
  text-shadow:red 0px 2px 0, #000 0 -2px 0;
}

.float li {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

#intro {
  margin: 50px 0 75px 0;
}

#new-cupcakes img {
  border: 8px solid blue;
  margin: 0 0 20px 0;
}

#levelab img {
  border: 1px solid #black;
}

#copyright {
  border-top: 8px solid #2A0400;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}
















